<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>旅ナビについて</h2>
      <ul>
        <li><%= link_to '運営情報', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '旅ナビ利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>おすすめの旅行</h2>
      <ul>
        <li><%= link_to 'エリアから探す', "#", class: "footer-link" %></li>
        <li><%= link_to 'カテゴリーから探す', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
 
  <p>© 旅ナビ</p>
</div>